.catalog__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 46fr 46fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 43px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 82px;
    grid-template-rows: auto auto auto;
    margin-bottom: 92px;
  }
}

.catalog h2 {
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;
  font-weight: normal;
  padding: 27px 0 41px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 38px 0 0 0;
    grid-column: 1/3;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/5;
    margin-top: 13px;
  }

  &::before {
    content: "";
    display: block;
    min-width: 320px;
    height: 1px;
    background: #ebebeb;
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 100%;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.catalog__button {
  width: 100%;
  background: $basic_green;
  border: none;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  grid-row: 2/3;
  grid-column: 1/3;

  &:hover {
    background: $basic_green-2;
  }
}

.catalog__button-more {
  background: #f2f2f2;
  color: $special_dark-grey;

  &:hover {
    background: #ebebeb;
  }

  &:active {
    color: rgba($color: $special_dark-grey, $alpha: 0.3);
    background: #ebebeb;
  }
}

