.extra h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 25px 0 36px 0;
  position: relative;
  border-bottom: 1px solid #ebebeb;

  &::before {
    content: "";
    width: 100vw;
    height: 2px;
    background: #68b738;
    position: absolute;
    top: 40px;
    left: 250px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 47px;
      left: 7px;
    }

    @media (min-width: $desktop-width) {
      top: 61px;
      left: -110px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 100%;
    padding: 25px 0 77px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 39px 0 76px 0;
  }
}

.extra__decor {
  background-color: #ffffff;
  padding: 0 36px;
  margin-left: -36px;
}

.extra__container {
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    width: 89%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
  }
}

.extra__item p {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  padding: 13px 0 13px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

}

.extra__item div {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    padding-right: 34px;
  }
}

.extra__item {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    width: 71%;
  }
}

.extra__item div > p {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  padding: 0 0 15px 0;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &:first-of-type {
      padding-right: 49px;

      @media (min-width: $desktop-width) {
        padding-right: 112px;
      }
    }
  }
}

.extra__item span {
  @media (min-width: $desktop-width) {
    margin-right: 75px;
  }
}

.extra__container button {
  padding: 10px 0 10px 0;
  margin-bottom: 17px;
  cursor: pointer;

  &:hover {
    background: $basic_green-2;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 4px;
    margin-bottom: 0;
    margin-right: 18px;
    width: 27%;
  }
}

.extra__offer {
  background: rgba($color: #68b738, $alpha: 0.85);
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
  min-height: 290px;

  @media (min-width: $tablet-width) {
    width: 100%;
    position: relative;
    min-height: 200px;
    margin-top: 67px;
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 27%;
    height: 66%;
    right: -306px;
    bottom: -83px;
  }

  &::before {
    content: "";
    background: image-set(
      url("../img/decor/catalog_gift.png") 1x,
      url("../img/decor/catalog_gift@2x.png") 2x
    );
    position: absolute;
    z-index: -1;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    min-height: 290px;

    @media (min-width: $tablet-width) {
      min-height: 200px;
      background-position: 0 -322px;
      background: image-set(
        url("../img/decor/catalog_gift-tablet.png") 1x,
        url("../img/decor/catalog_gift-tablet@2x.png") 2x
      );
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      min-height: 100%;
      background: image-set(
        url("../img/decor/catalog_gift.png") 1x,
        url("../img/decor/catalog_gift@2x.png") 2x
      ) -33px no-repeat;
    }
  }
}

.extra__offer p {
  display: flex;
  justify-content: center;
  max-width: 161px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: normal;
  margin: 0 0 43px;

  @media (min-width: $tablet-width) {
    text-align: left;
    position: absolute;
    right: 124px;
    top: 71px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    right: 43px;
    top: 187px;
  }
}

.extra__offer span::before {
  content: "";
  display: block;
  background: url("../img/decor/icon-gift.svg");
  min-width: 78px;
  min-height: 80px;
  margin-top: 58px;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    margin: 0;
    top: 58px;
    position: absolute;
    left: 78px;
  }

  @media (min-width: $desktop-width)  {
    left: 84px;
  }
}

.extra {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/5;
    position: relative;
    width: 75%;
  }
}
