.footer {
  background-color: #f2f2f2;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 31px 0 29px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__wrapper {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 23px 10px 23px 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 100px;
  }
}

.socials__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 18px 0 20px 0;
  border-bottom: 1px solid #d9d9d9;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    padding: 29px 0 20px 0;
    border: none;
    width: 145px;
  }
}

.socials__list li:first-child {
  position: relative;
  width: 23px;
  margin-left: 54px;

  @media (min-width: $tablet-width) {
    width: 29px;
    margin: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      margin-left: 4px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/decor/icon-vk.svg") no-repeat;
    background-position: 100% 15%;

    &:hover {
      content: url("../img/decor/icon-vk-green.svg");
    }

    @media (min-width: $tablet-width) {
      transform: scale(1.5);
      background-position: 85% 30%;
      background-size: 22px 12px;
    }
  }
}

.socials__list li:first-child:hover::before {
  background: url("../img/decor/icon-vk-green.svg") no-repeat;
  background-size: 23px 13px;
  background-position: 100% 15%;

  @media (min-width: $tablet-width) {
    transform: scale(1.5);
    background-position: 85% 31%;
    background-size: 22px 12px;
  }
}

.socials__list li:first-child:active::before {
  opacity: 0.3;
}

.socials__list li:nth-child(2) {
  position: relative;
  width: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
  }

  &::after {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    position: absolute;
    left: -7px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 3px;
    bottom: -1px;
    background: url("../img/decor/icon-instagram.svg") no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    background-position: 97% 50%;

    @media (min-width: $tablet-width) {
      transform: scale(1.5);
      background-position: 80%;
    }
  }
}

.socials__list li:nth-child(2):hover::before {
  background: url("../img/decor/icon-instagram-green.svg") no-repeat;
  background-position: 98% 50%;
  background-size: 16px 16px;

  @media (min-width: $tablet-width) {
    background-position: 80% 50%;
  }
}

.socials__list li:nth-child(2):active::before {
  opacity: 0.3;
}

.socials__list li:last-child {
  position: relative;
  width: 13px;
  margin-right: 61px;

  @media (min-width: $tablet-width) {
    width: 13px;
    margin-right: -13px;
    margin-left: -7px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    background: url("../img/decor/icon-facebook.svg") no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      transform: scale(1.5);
      background-position: 12% 5%;
    }
  }
}

.socials__list li:last-child:hover::before {
  background: url("../img/decor/icon-facebook-green.svg") no-repeat;
  cursor: pointer;
  background-position: 0% 5%;

  @media (min-width: $tablet-width) {
    background-position: 12% 5%;
  }
}

.socials__list li:last-child:active::before {
  opacity: 0.3;
}

.footer a {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  display: block;
}

.footer__logo-academy {
  margin: 29px 0 0 0;
  padding-bottom: 23px;
}

.footer__logo-academy a {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 2px 51px 0 0;
  }
}

.footer__logo-academy img {
  margin-left: 134px;
  position: absolute;
  right: 0;
  top: -7px;

  &:hover {
    filter: invert(56%) sepia(88%) saturate(342%) hue-rotate(54deg) brightness(93%) contrast(91%);
  }

  &:active {
    opacity: 0.3;
  }
}
