.header-form {
  position: relative;

  &::before {
    content: "";
    display: block;
    min-width: 320px;
    height: 1px;
    background: #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}
