.header {
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
  }
}

.header__wrapper {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.header__logo {
  padding: 10px 0 15px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    width: 174px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    width: 202px;
    padding-top: 54px;
  }
}

