.header {
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
  }
}

.header__wrapper {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.header__logo {
  padding: 10px 0 15px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    width: 174px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    width: 202px;
    padding-top: 54px;
  }
}

.nav-list {
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  top: -15px;

  .nav-list__item a {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 24px;
      font-weight: normal;
    }

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 30px;

      &.nav-list__index {
        color: #ffffff;
      }
    }
  }
}

.nav-list__item a:hover:not(.nav-list__index--active) {
  color: #666666;
}

.nav-list__item a:active:not(.nav-list__index--active) {
  color: #b3b3b3;
}

.nav-list__index--active {
  border-bottom: 2px solid $basic_green;
  padding: 10px 0 8px 0;

  @media (min-width: $desktop-width) {
    border-color: #ffffff;
  }
}

.nav-list__item-link--active {
  border-bottom: 2px solid $basic_green;
  padding: 10px 0 8px 0;
}


.nav-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  left: 0;
  top: 64px;
  flex-direction: column;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    left: 293px;
    background: transparent;
    align-items: center;
    top: 20px;
    width: 58%;
  }

  @media (min-width: $desktop-width) {
    left: 495px;
    top: 52px;
  }
}

.nav-list__wrapper ul {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.nav-list__item {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e6e6e6;

  &.nav-list__item:not(:nth-child(3)) {
    @media (min-width: $tablet-width) {
      padding-right: 35px;
      border: none;
    }
  }
}

.nav-list__wrapper li:last-child {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.nav__toggle {
  position: absolute;
  width: 24px;
  height: 18px;
  right: 20px;
  top: 24px;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before {
    content: "";
    height: 2px;
    width: 24px;
    background: #000000;
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
  }
}

.nav__toggle-hide {
  border-bottom: none;
  border-top: none;

  &::before {
    content: none;
  }
}

.nav__toggle--close {
  color: transparent;
  border-top: none;

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 25px;
    background-color: #000000;
    position: absolute;
    bottom: 34px;
    right: -21px;
    transform: rotate(312deg);
  }

  &::before {
    content: "";
    display: block;
    height: 2px;
    width: 25px;
    background-color: #000000;
    position: absolute;
    top: -18px;
    right: -21px;
    transform: rotate(48deg);
  }
}

.header-form {
  position: relative;

  &::before {
    content: "";
    display: block;
    min-width: 320px;
    height: 1px;
    background: #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}
